{%extends 'base.html'%}
{%load static%}
{%block content%}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {%for article in articles%}
          <div class="post-preview">
            <a href="/article/{{article.pk}}">
              <h2 class="post-title">
                {{article.titre}}
              </h2>
              <h3 class="post-subtitle">
                {{article.desc}}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 24, 2018</p>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

{%endblock content%}
